<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theconnoisseur" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Exercise.ExerciseActivity"
            android:label="@string/title_activity_exercise"
            android:launchMode="singleTask"
            android:parentActivityName=".Activities.LoginActivity" >
        </activity>
        <activity
            android:name=".Activities.MainMenuActivity"
            android:label="@string/title_activity_main_menu"
            android:launchMode="singleTask"
            android:parentActivityName=".Activities.LoginActivity">
        </activity>
        <activity
            android:name=".Activities.LanguageSelectionActivity"
            android:label="@string/title_activity_language_selection"
            android:launchMode="singleTask"
            android:parentActivityName=".Activities.MainMenuActivity">
        </activity>
    </application>

</manifest>
